# Database
DATABASE_URL="postgresql://username:password@localhost:5432/db_name"

# App Environment
NODE_ENV="development"

# Client URL
CLIENT_URL="http://localhost:5173"

# Authentication
JWT_SECRET="your-super-secret-jwt-key"
JWT_EXPIRES="7d"